p Congratulations your application to camp with #{link_to("8-bit Bunny", root_url)} has been approved.
p This is the first step towards camping with us in #{Settings.date.current_year}.
p You will recieve another notification when we are ready to interview you.

= render "mailers/shared/incomplete_profile", user: @user
= render "mailers/shared/signature"
