 .card.mb-3
  = card_header("fire", "Buring Man")
  .card-body
    p.card-text Read more about #{link_to("Outside Services (OSS)", "https://burningman.org/event/participate/camps/deliveries/outside-services-program/")}.