.card.mb-3
  = card_header("fire", "Burning Man")
  .card-body
    p.card-text Read more about about #{link_to("Work Access Pass", "https://help.burningman.org/hc/en-us/articles/4415067257236-Work-Access-Passes", target: "_blank")}.