- if policy(resource).admin?
  .card.mb-3
    = card_header("shield-check text-danger", "Admin", buttons: [header_admin_show_button(resource), header_admin_edit_button(resource)], class_name: "no-body")
