p Congratulations your interview has been approved.
p You have been accepted into 8-bit Bunny for #{Settings.date.current_year}.
p If you haven't already please take a look at the #{link_to("guide", guides_url)} and join our #{link_to("Facebook group", Settings.facebook.url)}.
p The next step in the process is paying #{link_to("dues", dues_guides_url)}.
= render "mailers/shared/incomplete_profile", user: @resource.user
= render "mailers/shared/signature"
