li.list-group-item.bg-light
  h6 = link_to_policy(policy(:guide).index?, "Guide", guides_path, class: "text-decoration-none")
  p.text-muted Read the guide, no seriously #{link_to_policy(policy(:guide).index?, "read", guides_path, class: "text-decoration-none")} it
