// Required
@import "bootstrap/scss/functions";

@import "bootstrap/variables";

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

@import "bootstrap/button";
@import "bootstrap/card";
@import "bootstrap/form";
@import "bootstrap/navbar";