

.card.mb-3
  = card_header("slash-circle", "No carrots")
  .card-body
    p.card-text It's a common misconception that rabbits like carrots. To promote a greater understanding of #{link_to("lagomorphs", "https://en.wikipedia.org/wiki/Lagomorpha", target: "_blank")} we discourage carrot themed decorations around camp.


