p Hello, #{@resource}.

p Someone has requested a link to change your password.

p
  b = link_to "Change password", edit_password_url(@resource, reset_password_token: @token)

p If you didn't request this, please ignore this email.

= render "mailers/shared/signature"
