p Hello #{@resource.email}
p Someone has requested a link to change your password. Click the link below to complete the process.
p = link_to "Change password", edit_password_url(@resource, reset_password_token: @token)
p If you didn't request this, please ignore this email.
p Thank you,
p 8-bit Bunny
